ENVIROMENT=development
PORT=4002
CLIENT_URL=http://localhost:3000
API_GATEWAY_URL=http://localhost:4000
EMAIL_VERIFICATION_TOKEN_EXPIRES_SECONDS=600

MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_USER=joblance
MYSQL_PASSWORD=joblance
MYSQL_DATABASE=joblance_auth
RABBITMQ_ENDPOINT=amqp://joblance:joblance@localhost:5672
RABBITMQ_AUTH_EXCHANGE=jbl.auth.notification
RABBITMQ_AUTH_ROUTINGKEY=auth.email

# JWT
JWT_PRIVATE_KEY_PATH=keys/private/key-2024-07.pem
JWT_PUBLIC_KEY_PATH=keys/public/key-2024-07.pem
JWT_ALGORITHM=RS256
JWT_KEY_ID=key-2024-07
JWT_ACCESS_TOKEN_EXPIRES_IN=15m
JWT_REFRESH_TOKEN_EXPIRES_IN=7d
